@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: Roboto;
    padding: 0;
    margin: 0;
}

header {
  background: linear-gradient(#790303fb 50%, transparent 50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  padding: 20px;
  width: 100%;
}

.itens-menu{
  background-color: white;
  border-radius: 25px;
  color: black;
  font-size: 17px;
  padding: 8px 24px;
  text-decoration: none;
  font-weight: 500;
  margin: 0 10px;
}

.menu a:hover{ 
  background-color: #fff00b;
}

.relogio{
  background-color: red;
  border-radius: 25px;
  padding: 7px 24px;
  width: 40px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.logo{
  width: 70px;
  border-radius: 360px;
}

.section{
  display: flex;
  justify-content: center;
}

.hero-section{
  background-image: url("../src/assets/Vox-Mix.png");
  background-repeat: no-repeat;
  background-position: top center;
  width: 800px;
  height: 600px;
  border-radius: 0 0 50px 50px;
  background-color: #B8292C;
  display: flex;
  align-items: end;
}

.musica{
  width: 6rem;
  margin-right: 20px;
  font-weight: bold;
  font-size: 12px;
}

.atual{
  width: 100%;
  display: flex;
  align-items: end;
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  background: linear-gradient(to top, #00000057, #00000000);
  border-radius: 0 0 50px 50px;
  color: white;
}

.atual p{
  font-size: 15px;
}

.imgBoxMusic{
  width: 100%;
  border-radius: 1rem;
  margin-top: 1rem;
}

.nomecantor{
  color: #B8292C;
  font-weight: 1rem;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 15px;
}

.deumoral{
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 13px;
}

.botaomusica{
  color: white;
  background-color: #B8292C;
  border-radius: 10px;
  border: 1px solid #B8292C;
  text-decoration: none;
  padding: 5px;
  font-weight: 500;
  transition: 200ms;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 15px;
}

.botaomusica:hover{
  background-color: #790303fb;
  color: white;
}

.maisTocadas{
  padding: 8rem;
}

.musicas{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.boxMusic{
  width: 18%;
}

.imgBoxPropag{
  width: 100%;
  border-radius: 1rem;
  margin-top: 1rem;
}

.titulo{
  color: black;
  font-weight: 1rem;
 
  font-weight: bold;
  font-size: 20px;
}

.data{
  color: rgb(59, 58, 58);
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 13px;
}

.botaopart{
  color: white;
  background-color: #B8292C;
  border-radius: 10px;
  border: 1px solid #B8292C;
  text-decoration: none;
  padding: 5px;
  font-weight: 500;
  transition: 100ms;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 15px;
}

.botaopart:hover{
  background-color: #790303fb;
  color: white;
}

.propagandas{
  padding: 8rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.propaganda{
  display: flex;
  justify-content: space-between;
}

.boxPropag{
  width: 30%;
}

.infoPromo{
  height: 13rem;
  
}

.promo{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.Tpromocao{
  color: #B8292C;
  font-size: 40px; 
}